body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--mainYellow);
  overflow: auto;
  overflow-x: hidden;
}

:root {
  --mainYellow: rgb(236, 151, 0);
  --strongYellow: #d86411;
  --lightYellow: rgb(249, 234, 99);
  --mainBlack: #111;
  --white: #fff;
  --success: #155724;
  --backSuccess: #d4edda;
  --borderSuccess: #c3e6cb;
  --error: #721c24;
  --backError: #f8d7da;
  --borderError: #f5c6cb;
}
